.additional-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.additional-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 760px) {
  .additional-form-row {
    grid-template-columns: 1fr;
  }
}
